<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <configSections>
    <section name="userinfo" type="HSCentric.HSUnitSection, HSCentric" />
  </configSections>

  <userinfo>
    <HSUnit>
      <clear />
      <add path="D:\Hearthstone\Hearthstone.exe" starttime="2000/1/1 0:00:59"
        stoptime="2000/1/1 23:59:59" />
      <add path="D:\Hearthstone_another\Hearthstone.exe" starttime="2000/1/1 0:00:59"
        stoptime="2000/1/1 23:59:59" />
    </HSUnit>
  </userinfo>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
  
</configuration>